<template>
  <component
    :is="url ? (
      typeof url === 'string' ? 'a' : 'router-link'
    ) : 'button'"
    v-bind="{
      ...url ? {
        [typeof url === 'string' ? 'href' : 'to']: url,
        target,
      } : {
        type,
      }
    }"
    :class="[
      $style.button,
      ...(Array.isArray(state) ? state : [state]).map(s => $style[s]),
      isSquare && $style.isSquare,
      isDisabled && $style.isDisabled,
      isReadonly && $style.isReadonly,
    ]"
    v-on="url ? {} : {
      click: onClick,
    }"
  >
    <div
      v-if="prependIcon"
      :class="$style.prepend"
    >
      <Icon
        :icon="prependIcon"
        :class="$style.icon"
      />
    </div>
    <div
      v-if="label || 'default' in $slots"
      :class="$style.content"
    >
      <slot>
        {{ label }}
      </slot>
    </div>
  </component>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Icon from '@/components/icon/Icon.vue';

export default defineComponent({
  name: 'Btn',
  components: { Icon },
  props: {
    url: [String, Object],
    state: {
      type: [String, Array],
      default: 'primary',
    },
    label: [String, Number],
    isDisabled: Boolean,
    isReadonly: Boolean,
    target: String,
    type: {
      type: String,
      default: 'button',
    },
    isSquare: Boolean,
    prependIcon: String,
  },
  emits: ['click'],
  setup(props, { emit }) {
    const onClick = (event: PointerEvent) => {
      if (props.isDisabled || props.isReadonly) {
        event.stopPropagation();
        return;
      }
      emit('click', event);
    };

    return {
      onClick,
    };
  },
});
</script>

<style lang="scss" module>
@import "./button.scss";
</style>
