@import "~@/assets/utils.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.prepend {
  flex-shrink: 0;

  + * {
    margin-left: rem(13px);
  }
}

.icon {
  height: rem(20px);
  width: rem(20px);
}

.content {
  flex-grow: 1;
  flex-shrink: 1;

  text-align: left;
}

// states

.bordered {
  color: rgba(var(--color-body-light), 1);
  border: rem(1px) solid rgba(var(--color-border), 1);
  border-radius: rem(14px);
  @include body-1();
  padding: rem(8px) rem(14px);
  text-align: center;
  height: rem(40px);
  .content {
    text-align: center;
  }
}

.accent {
  color: rgba(var(--color-heading), 1);
  background-color: rgba(var(--color-accent), 1);
  box-shadow: inset 0 -2px 0 0 rgba(var(--color-accent-2), 0.7);
  border-radius: rem(14px);
  @include body-1();
  padding: rem(8px) rem(14px);
  text-align: center;
  height: rem(40px);
  transition: .2s box-shadow;
  &:active {
    box-shadow: inset 0 0 0 0 rgba(#0073cc, 0.7);
  }
  .content {
    text-align: center;
  }
}

.secondary {
  color: rgba(var(--color-body-light), 1);
  background-color: rgba(var(--color-surface), 1);
  border-radius: rem(14px);
  @include body-1();
  padding: rem(8px) rem(16px);
  text-align: center;
  height: rem(40px);
  transition: .2s box-shadow;
  &.isSquare {
    padding: rem(8px);
    width: rem(40px);
  }
  &:active {
    box-shadow: inset 0 0 0 0 rgba(#0073cc, 0.7);
  }
  .content {
    text-align: center;
  }
}

.accentLink {
  color: rgba(var(--color-accent), 1);
  @include body-2();
  font-weight: 400;
}