@import "~@/assets/utils.scss";

.lockscreen {
  height: 100%;
  min-height: rem(672px);
  display: flex;
  flex-direction: column;
  padding: rem(80px) rem(100px) rem(20px) rem(100px);
}

.image {
  @keyframes lock {
    from { transform: scale(0.76) }
    to { transform: scale(1) }
  }
  display: flex;
  justify-content: center;
  animation: lock .5s;
}

.fullName {
  @include heading-4();
  color: rgba(var(--color-heading), 1);
  text-align: center;
  margin-top: rem(37px);
}

.description {
  @include body-2();
  text-align: center;
  color: rgba(var(--color-body-light), 1);
  font-weight: normal;
  margin-top: rem(9px);
}

.passwordInput {
  margin-top: rem(46px);
}

.submit {
  margin-top: rem(24px);
}

.signIn {
  @include body-2();
  color: rgba(var(--color-body-dark), 1);
  font-weight: normal;
  text-align: center;
  margin-top: auto;
}

.signInLink {
  color: rgba(var(--color-accent), 1);
  cursor: pointer;
}