<template>
  <div :class="$style.lockscreen">
    <div :class="$style.image">
      <img
        :src="require('@/pages/lockscreen/assets/avatar-male.svg')"
        alt="lock"
      >
    </div>
    <div :class="$style.fullName">
      {{ fullName }}
    </div>
    <div :class="$style.description">
      {{ t('auth.lockscreen.description') }}
    </div>
    <TextInput
      v-model="model.password"
      :class="$style.passwordInput"
      :state="['bordered']"
      :label="t('auth.password')"
      type="password"
    />
    <Button
      :state="['accent']"
      :class="$style.submit"
    >
      {{ t('auth.lockscreen.submit') }}
    </Button>
    <i18n-t
      tag="div"
      :class="$style.signIn"
      keypath="auth.lockscreen.signInLink"
    >
      <template #signIn>
        <router-link
          :class="$style.signInLink"
          :to="{ name: 'sign-in' }"
        >
          {{ t('auth.lockscreen.signIn') }}
        </router-link>
      </template>
    </i18n-t>
  </div>
</template>

<script lang="ts">
import Button from '@/components/button/Button.vue';
import TextInput from '@/components/textInput/TextInput.vue';
import { useI18n } from 'vue-i18n';
import { computed, defineComponent, ref } from 'vue';
import { SignInModel } from '@/hooks/useAuth';
import { useUser } from '@/hooks/useUser';

export default defineComponent({
  name: 'Lockscreen',
  components: {
    Button,
    TextInput,
  },
  setup() {
    const { t } = useI18n();
    const { userData } = useUser();

    const fullName = computed(() => (userData.value ? `${userData.value.name} ${userData.value.surname}` : null));
    const model = ref<SignInModel>({
      email: '',
      password: '',
      remember: true,
    });

    return {
      t,
      model,

      fullName,
    };
  },
});
</script>

<style lang="scss" module>
@import "./lockscreen";
</style>
