<template>
  <div
    :class="[
      $style.mainLayout,
      isExpanded && $style.mainLayoutExpanded
    ]"
  >
    <Sidebar
      :class="[
        $style.sidebar,
        isExpanded && $style.sidebarExpanded
      ]"
    />
    <div :class="$style.content">
      <Header />
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useStore } from 'vuex';
import Sidebar from '@/components/sidebar/Sidebar.vue';
import Header from '@/components/header/Header.vue';

export default defineComponent({
  name: 'MainLayout',
  components: {
    Sidebar,
    Header,
  },
  setup() {
    const store = useStore();
    const isExpanded = computed(() => store.getters['layout/isSidebarExpanded']);

    return {
      isExpanded,
    };
  },
});
</script>

<style lang="scss" module>
@import "./mainLayout";
</style>
