@import "~@/assets/utils.scss";

$sidebarWidth: rem(65px);
$sidebarExpandedWidth: rem(270px);

.mainLayout {
  height: 100%;
  display: grid;
  grid-template-columns: $sidebarWidth 1fr;
}

.mainLayoutExpanded {
  grid-template-columns: $sidebarExpandedWidth 1fr;
}

.sidebar {
  width: $sidebarWidth;
  transition: .3s width;
}

.sidebarExpanded {
  width: $sidebarExpandedWidth;
}