<template>
  <div :class="$style.logo">
    <img
      :src="require('@/components/logo/assets/logo.svg')"
      alt="logo"
    >
    <div
      v-if="withText"
      :class="$style.text"
    >
      {{ t('meta.name') }}
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'Logo',
  props: {
    withText: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
  },
  setup() {
    const { t } = useI18n();

    return {
      t,
    };
  },
});
</script>

<style lang="scss" module>
@import "./logo";
</style>
