<template>
  <div :class="$style.resetPassword">
    <div :class="$style.image">
      <img
        :src="require('@/pages/password/assets/lock.svg')"
        alt="lock"
      >
    </div>
    <div :class="$style.heading">
      {{ t('auth.reset.heading') }}
    </div>
    <TextInput
      v-model="model.email"
      :class="$style.emailInput"
      :state="['bordered']"
      :label="t('auth.email')"
      placeholder="cooper@example.com"
      :is-disabled="true"
    />
    <TextInput
      v-model="model.password"
      :class="$style.passwordInput"
      :state="['bordered']"
      :label="t('auth.password')"
      type="password"
    />
    <TextInput
      v-model="model.confirmPasswordInput"
      :class="$style.passwordInput"
      :state="['bordered']"
      :label="t('auth.confirmPassword')"
      type="password"
    />
    <Button
      :state="['accent']"
      :class="$style.submit"
    >
      {{ t('auth.reset.submit') }}
    </Button>
    <i18n-t
      tag="div"
      :class="$style.signIn"
      keypath="auth.reset.signInLink"
    >
      <template #signIn>
        <router-link
          :class="$style.signInLink"
          :to="{ name: 'sign-in' }"
        >
          {{ t('auth.reset.signIn') }}
        </router-link>
      </template>
    </i18n-t>
  </div>
</template>

<script lang="ts">
import Button from '@/components/button/Button.vue';
import TextInput from '@/components/textInput/TextInput.vue';
import { useI18n } from 'vue-i18n';
import { useRoute } from 'vue-router';
import { defineComponent, ref } from 'vue';
import { ResetPasswordModel } from '@/hooks/useAuth';

export default defineComponent({
  name: 'ResetPassword',
  components: {
    Button,
    TextInput,
  },
  setup() {
    const { t } = useI18n();
    const route = useRoute();

    const { resetToken } = route.params;
    const model = ref<ResetPasswordModel>({
      token: '',
      email: '',
      password: '',
      confirmPasswordInput: '',
    });

    return {
      t,
      model,
    };
  },
});
</script>

<style lang="scss" module>
@import "./reset";
</style>
