@import "~@/assets/utils";

.home {
  padding: rem(30px);
}

.head {
  display: flex;
  justify-content: space-between;
}

.heading {
  @include heading-4();
  color: rgba(var(--color-heading), 1);
}

.controls {
  display: flex;
}

.controlButton {
  &:not(:first-child) {
    margin-left: rem(16px);
  }
}

.controlButtonContent {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.controlButtonIcon {
  width: rem(14px);
  height: rem(14px);
  margin-left: rem(10px);
}

.content {
  margin-top: rem(40px);
}

.total {
  display: flex;
  justify-content: stretch;
}

.totalCard {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: rem(24px);
  &:not(:first-child) {
    margin-left: rem(30px);
  }
}

.totalCardText {
  margin-right: auto;
}

.totalCardIcon {
  width: rem(88px);
  height: rem(88px);
  background: rgba(var(--color-orange), 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: rem(22px);
}

.totalCardLabel {
  @include body-1();
  font-weight: 400;
  color: rgba(var(--color-body-dark), 1);
}

.totalCardMainValue {
  color: rgba(var(--color-heading), 1);
  font-size: 30px;
  line-height: 45px;
  font-weight: 500;
}

.totalCardValues {
  display: flex;
  align-items: flex-end;
}

.totalCardMainValue {}

.totalCardDifference {
  margin-bottom: rem(6px);
  margin-left: rem(9px);
}