<template>
  <div :class="$style.home">
    <div :class="$style.head">
      <div :class="$style.heading">
        {{ t('dashboard.heading') }}
      </div>
      <div :class="$style.controls">
        <Button
          :class="$style.controlButton"
          prepend-icon="basic/download"
          :is-square="true"
          :state="['secondary']"
        />
        <Button
          :state="['secondary']"
          :class="$style.controlButton"
        >
          <div :class="$style.controlButtonContent">
            Last 7 days
            <Icon
              icon="basic/arrow-down2"
              :class="$style.controlButtonIcon"
            />
          </div>
        </Button>
      </div>
    </div>
    <div :class="$style.content">
      <div :class="$style.total">
        <Card
          :class="$style.totalCard"
          state="primary"
        >
          <div :class="$style.totalCardText">
            <div :class="$style.totalCardLabel">
              Total income
            </div>
            <div :class="$style.totalCardValues">
              <div :class="$style.totalCardMainValue">
                {{ income }}
              </div>
              <div :class="$style.totalCardDifference">
                <ConversionComponent :conversion="incomeConversion" />
              </div>
            </div>
          </div>
          <div :class="$style.totalCardIcon">
            <img
              :src="require('@/pages/index/assets/dollar.svg')"
              alt="dollar"
            >
          </div>
        </Card>
        <Card
          :class="$style.totalCard"
          state="primary"
        >
          <div :class="$style.totalCardText">
            <div :class="$style.totalCardLabel">
              Total sales
            </div>
            <div :class="$style.totalCardValues">
              <div :class="$style.totalCardMainValue">
                {{ sales }}
              </div>
              <div :class="$style.totalCardDifference">
                <ConversionComponent :conversion="salesConversion" />
              </div>
            </div>
          </div>
          <div :class="$style.totalCardIcon">
            <img
              :src="require('@/pages/index/assets/chart.svg')"
              alt="dollar"
            >
          </div>
        </Card>
        <Card
          :class="$style.totalCard"
          state="primary"
        >
          <div :class="$style.totalCardText">
            <div :class="$style.totalCardLabel">
              Total sales
            </div>
            <div :class="$style.totalCardValues">
              <div :class="$style.totalCardMainValue">
                {{ newClients }}
              </div>
              <div :class="$style.totalCardDifference">
                <ConversionComponent :conversion="newClientsConversion" />
              </div>
            </div>
          </div>
          <div :class="$style.totalCardIcon">
            <img
              :src="require('@/pages/index/assets/user.svg')"
              alt="dollar"
            >
          </div>
        </Card>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';
import { useStore } from 'vuex';

import Button from '@/components/button/Button.vue';
import Icon from '@/components/icon/Icon.vue';
import Card from '@/components/card/Card.vue';
import ConversionComponent from '@/components/conversion/Conversion.vue';
import { formatPrice } from '@/utils/price';
import { formatNumber } from '@/utils/number';

import { Conversion } from '@/hooks/usePrice';

export default defineComponent({
  name: 'Home',
  components: {
    Button,
    Icon,
    Card,
    ConversionComponent,
  },
  setup() {
    const { t } = useI18n();
    const { getters } = useStore();

    const income = computed(() => formatPrice(8500, getters['currency/value']));
    const incomeConversion = computed(() => ({
      percent: 0.508,
      direction: 1,
    } as Conversion));

    const sales = computed(() => formatNumber(3500));
    const salesConversion = computed(() => ({
      percent: 0.105,
      direction: -1,
    } as Conversion));

    const newClients = computed(() => formatNumber(2500));
    const newClientsConversion = computed(() => ({
      percent: 0.249,
      direction: 1,
    } as Conversion));

    return {
      t,

      formatPrice,

      income,
      incomeConversion,

      sales,
      salesConversion,

      newClients,
      newClientsConversion,
    };
  },
});
</script>

<style lang="scss" module>
@import "./index";
</style>
