<template>
  <div
    :class="[
      $style.card,
      ...(Array.isArray(state) ? state : [state]).map(s => $style[s]),
    ]"
  >
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    state: String,
  },
};
</script>

<style lang="scss" module>
@import "./card";
</style>
