@import "~@/assets/utils.scss";

.card {};

.primary {
  border-radius: rem(20px);
  background-color: rgba(var(--color-surface), 1);
  filter: drop-shadow(-4px 8px 24px rgba(0, 0, 0, 0.05));
  padding: rem(16px);
}