<template>
  <div :class="(Array.isArray(state) ? state : [state]).map(s => $style[s])">
    <div
      v-if="label"
      :class="$style.label"
    >
      <slot name="label">
        {{ label }}
      </slot>
    </div>
    <div
      :class="[
        $style.field,
        isDisabled && $style.isDisabled,
        ...(Array.isArray(state) ? state : [state]).map(s => $style[s]),
      ]"
    >
      <label
        :class="[
          $style.content,
          !!error && $style.contentError,
        ]"
      >
        <textarea
          v-if="type === 'textarea'"
          v-model="localValue"
          :placeholder="placeholder"
          :class="$style.input"
          :disabled="isDisabled"
          :rows="rows"
        />
        <input
          v-else
          v-model="localValue"
          :placeholder="placeholder"
          :type="type === 'password'
            ? (isPasswordShown ? 'text' : 'password')
            : type"
          :class="$style.input"
          :disabled="isDisabled"
        >
        <Icon
          v-if="type === 'password'"
          :icon="isPasswordShown ? 'basic/show' : 'basic/hide'"
          :class="$style.control"
          @click="togglePasswordVisibility"
        />
      </label>
    </div>
  </div>
</template>

<script lang="ts">
import Icon from '@/components/icon/Icon.vue';
import {
  computed,
  defineComponent,
  ref,
  toRefs,
} from 'vue';
import { copyToClipboard } from '@/utils/string';

export default defineComponent({
  name: 'TextInput',
  components: {
    Icon,
  },
  props: {
    type: {
      type: String,
      default: 'text',
    },
    placeholder: String,
    error: String,
    modelValue: [String, Number],
    isDisabled: Boolean,
    rows: Number,
    state: [Array, String],
    label: String,
  },
  emits: ['update:modelValue', 'copied', 'failedToCopy'],
  setup(props, { emit }) {
    const {
      modelValue,
      isDisabled,
      state,
    } = toRefs(props);

    const localValue = computed({
      get() {
        return modelValue.value;
      },
      set(value) {
        if (isDisabled.value) {
          return;
        }
        emit('update:modelValue', value);
      },
    });

    const isPasswordShown = ref(false);
    const togglePasswordVisibility = () => {
      isPasswordShown.value = !isPasswordShown.value;
    };

    const copy = async () => {
      try {
        await copyToClipboard(localValue.value as string);
        emit('copied');
      } catch (e) {
        emit('failedToCopy');
      }
    };

    return {
      localValue,

      isPasswordShown,
      togglePasswordVisibility,

      copy,
    };
  },
});
</script>

<style lang="scss" module>
@import "textInput";
</style>
