@import "~@/assets/variables";
@import "~@/assets/mixins";
@import "~@/assets/typography";

.field {
  position: relative;
}

.content {
  display: flex;

  border-radius: rem(8px);
}

.contentError {
  box-shadow: inset 0 0 0 rem(1px) rgba(var(--red), 1);
}

.input {
  width: 0;
  flex-grow: 1;

  @include body-2();

  color: rgba(var(--black), 1);

  &::placeholder {
    color: rgba(var(--grey2), 1);
    opacity: 1;
    text-overflow: ellipsis;
  }
}

.control {
  height: rem(20px);
  width: rem(20px);
  align-self: center;

  cursor: pointer;

  user-select: none;

  + .control {
    margin-left: rem(16px);
  }
}

.error {

}

// states
.bordered {
  .label {
    @include body-2();
    font-weight: 400;
    color: rgba(var(--color-body-dark), 1);
    & + .field {
      margin-top: rem(6px);
    }
  }
  .field {
    border: rem(1px) solid rgba(var(--color-border), 1);
    padding: rem(8px) rem(14px);
    @include body-1();
    border-radius: rem(14px);
    color: rgba(var(--color-body-light), 1);
  }
  .control {
    color: rgba(var(--color-body-dark), 1);
  }
  input {
    color: rgba(var(--color-body-light), 1);
  }
  input::placeholder {
    color: rgba(var(--color-body-light), 0.4);
  }
}