@import "~@/assets/utils.scss";

.signIn {
  height: 100%;
  min-height: rem(690px);
  display: flex;
  flex-direction: column;
  padding: rem(90px) rem(100px) rem(20px) rem(100px);
}

.heading {
  @include heading-4();
  color: rgba(var(--color-heading), 1);
  text-align: center;
}

.googleButton {
  margin-top: rem(45px);
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: rem(36px);
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: rem(1px);
    background-color: rgba(var(--color-border), 1);
  }
}

.dividerText {
  position: relative;
  z-index: 2;
  background: rgba(var(--color-surface), 1);
  padding: 0 rem(16px);
  @include body-3();
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(var(--color-body-dark), .8);
}

.emailInput {
  margin-top: rem(31px);
}

.passwordInput {
  margin-top: rem(27px);
}

.options {
  margin-top: rem(24px);
  display: flex;
  justify-content: space-between;
}

.submit {
  margin-top: rem(24px);
}

.signUp {
  @include body-2();
  color: rgba(var(--color-body-dark), 1);
  font-weight: normal;
  text-align: center;
  margin-top: auto;
}

.signUpLink {
  color: rgba(var(--color-accent), 1);
  cursor: pointer;
}