<template>
  <div :class="$style.signIn">
    <div :class="$style.heading">
      {{ t('auth.signIn.heading') }}
    </div>
    <Button
      :state="['bordered']"
      prepend-icon="google"
      :class="$style.googleButton"
    >
      {{ t('auth.signIn.google') }}
    </Button>
    <div :class="$style.divider">
      <div :class="$style.dividerText">
        {{ t('auth.signIn.dividerText') }}
      </div>
    </div>
    <TextInput
      v-model="model.email"
      :class="$style.emailInput"
      :state="['bordered']"
      :label="t('auth.email')"
      placeholder="cooper@example.com"
    />
    <TextInput
      v-model="model.password"
      :class="$style.passwordInput"
      :state="['bordered']"
      :label="t('auth.password')"
      type="password"
    />
    <div :class="$style.options">
      <Checkbox v-model="model.remember">
        {{ t('auth.signIn.remember') }}
      </Checkbox>
      <Button
        :state="['accentLink']"
        :url="{ name: 'forgot-password' }"
      >
        {{ t('auth.signIn.forgot') }}
      </Button>
    </div>
    <Button
      :state="['accent']"
      :class="$style.submit"
      @click="onSubmit"
    >
      {{ t('auth.signIn.submit') }}
    </Button>
    <i18n-t
      tag="div"
      :class="$style.signUp"
      keypath="auth.signIn.signUpLink"
    >
      <template #signUp>
        <router-link
          :class="$style.signUpLink"
          :to="{ name: 'sign-up' }"
          @click.stop
        >
          {{ t('auth.signIn.signUp') }}
        </router-link>
      </template>
    </i18n-t>
  </div>
</template>

<script lang="ts">
import Button from '@/components/button/Button.vue';
import TextInput from '@/components/textInput/TextInput.vue';
import Checkbox from '@/components/checkbox/Checkbox.vue';
import { useI18n } from 'vue-i18n';
import { defineComponent, ref } from 'vue';
import { SignInModel } from '@/hooks/useAuth';
import { useRouter } from 'vue-router';

export default defineComponent({
  name: 'SignIn',
  components: {
    Button,
    TextInput,
    Checkbox,
  },
  setup() {
    const { t } = useI18n();
    const router = useRouter();

    const model = ref<SignInModel>({
      email: '',
      password: '',
      remember: false,
    });

    const onSubmit = () => {
      router.push({
        name: 'index',
      });
    };

    return {
      t,
      model,

      onSubmit,
    };
  },
});
</script>

<style lang="scss" module>
@import "./signIn";
</style>
