@import "~@/assets/utils.scss";

.conversion {
  display: flex;
  align-items: center;
  @include body-1();
  font-weight: 400;
  color: rgba(var(--color-heading), 0.6);
};

.conversionIcon {
  width: rem(14px);
  height: rem(14px);
}

.conversionIncreased {
  color: rgba(var(--color-green-1), 1);
}

.conversionDecreased {
  color: rgba(var(--color-red), 1);
}