<template>
  <div
    :class="{
      [$style.conversion]: true,
      [$style.conversionIncreased]: direction === 1,
      [$style.conversionDecreased]: direction === -1,
    }"
  >
    <Icon
      :class="$style.conversionIcon"
      icon="basic/arrow-up"
    />
    {{ formattedAmount }}
  </div>
</template>

<script lang="ts">
import { computed, PropType, toRefs } from 'vue';

import Icon from '@/components/icon/Icon.vue';
import { formatPercents } from '@/utils/number';
import { Conversion } from '@/hooks/usePrice';

export default {
  name: 'Conversion',
  components: {
    Icon,
  },
  props: {
    conversion: {
      type: Object as PropType<Conversion>,
    },
  },
  setup(props: any) {
    const { conversion } = toRefs(props);

    const formattedAmount = computed(() => formatPercents(conversion.value.percent));
    const direction = computed(() => conversion.value.direction);

    return {
      formattedAmount,
      direction,
    };
  },
};
</script>

<style lang="scss" module>
@import "./conversion";
</style>
