<template>
  <div :class="$style.header">
    <Button
      @click="switchSidebar"
      :class="$style.menu"
      prepend-icon="basic/menu"
    />
  </div>
</template>

<script>
import Button from '@/components/button/Button.vue';
import { useStore } from 'vuex';

export default {
  name: 'Header',
  components: {
    Button,
  },
  setup() {
    const store = useStore();

    const switchSidebar = () => {
      store.dispatch('layout/toggleSidebar');
    };

    return {
      switchSidebar,
    };
  },
};
</script>

<style lang="scss" module>
@import "./header";
</style>
