@import "~@/assets/utils.scss";
@import "~@/assets/layout.scss";

.header {
  height: rem($header-height);
  border-bottom: rem(1px) solid rgba(var(--color-border), 1);
  display: flex;
  align-items: center;
  padding: 0 rem(28px);
}

.menu {
  color: rgba(var(--color-body-dark), 1);
}