<template>
  <div
    :class="[
      $style.checkbox,
      isSelected && $style.isChecked,
      isDisabled && $style.isDisabled,
      $style[state],
    ]"
    @click="toggle"
  >
    <div :class="$style.check">
      <Icon
        v-if="(state === 'primary') && isSelected"
        icon="checkbox"
        :class="$style.checkIcon"
      />
    </div>
    <div :class="$style.label">
      <slot>
        <div :class="$style.labelText">
          {{ label }}
        </div>
      </slot>
    </div>
  </div>
</template>

<script lang="ts">
import Icon from '@/components/icon/Icon.vue';
import { computed, defineComponent } from 'vue';

export default defineComponent({
  name: 'Checkbox',
  components: { Icon },
  props: {
    state: {
      type: String,
      default: 'primary',
    },
    modelValue: [Boolean, String, Number],
    trueValue: {
      type: [Boolean, String, Number],
      default: true,
    },
    falseValue: {
      type: [Boolean, String, Number],
      default: false,
    },
    label: String,
    hint: String,
    isDisabled: Boolean,
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const localValue = computed({
      get() {
        return props.modelValue;
      },
      set(value) {
        if (props.isDisabled) {
          return;
        }
        emit('update:modelValue', value);
      },
    });

    const isSelected = computed(() => localValue.value === props.trueValue);

    const toggle = () => {
      localValue.value = localValue.value === props.trueValue
        ? props.falseValue
        : props.trueValue;
    };

    return {
      isSelected,
      toggle,
    };
  },
});
</script>

<style lang="scss" module>
@import "./checkbox";
</style>
