@import "~@/assets/variables";
@import "~@/assets/typography";

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.check {
  height: rem(16px);
  width: rem(16px);

  flex-shrink: 0;

  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
.label {
  margin-left: rem(8px);
  flex-grow: 1;
  user-select: none;
}

.labelText {
  white-space: pre-line;
}

.labelHint {
  margin-left: rem(4px);
}

.labelHintIcon {
  height: rem(16px);
  width: rem(16px);

  color: rgba(var(--orange), 1);
}

.isDisabled {
  cursor: default;
  opacity: .5;
}

.primary {
  .check {
    transition: .2s background-color, .2s box-shadow;
    border-radius: rem(4px);
    box-shadow: inset 0 0 0 rem(1px) rgba(var(--color-border), 1);
    color: rgba(var(--grey-4), 1);
    .checkIcon {
      height: rem(15px);
      width: rem(15px);
    }
  }
  &.isChecked {
    .check {
      box-shadow: none;
      background: rgba(var(--color-accent), 1);
      .checkIcon {
        color: rgba(var(--color-white), 1);
      }
    }
  }
  .label {
    @include body-2();
    font-weight: normal;
    color: rgba(var(--color-body-dark), 1);
  }
}
