@import "~@/assets/utils.scss";
@import "~@/assets/layout.scss";

.sidebar {
  position: relative;
  z-index: 2;
  background-color: rgba(var(--color-background), 1);
  border-right: rem(1px) solid rgba(var(--color-border), 1);
}

.header {
  height: rem($header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerExpanded {
  padding: 0 rem(26px);
  justify-content: flex-start;
}

.itemIcon {
  width: rem(20px);
  height: rem(20px);
  color: rgba(var(--color-heading), 1);
  min-width: rem(20px);
}
.itemText {
  @include body-1();
  font-weight: normal;
  color: rgba(var(--color-heading), 1);
  margin-left: rem(10px);
  white-space: nowrap;
}

.linkItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(56px);
  transition: .25s background-color;
  padding: 0 rem(10px);
  cursor: pointer;
  overflow: hidden;
  .itemText, .itemIcon {
    color: rgba(var(--color-body-light), 1);
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: rem(-4px);
    height: 100%;
    width: rem(4px);
    background-color: rgba(var(--color-accent), 1);
    border-radius: 0 rem(10px) rem(10px) 0;
    transition: .1s;
  }
}

.linkItemExpanded {
  padding: 0 rem(28px);
  justify-content: flex-start;
}

.linkItemActive {
  @keyframes itemActive {
    from {
      border-radius: 0 rem(46px) rem(46px) 0;
      background-color: transparent;
    }
    to {
      border-radius: 0;
      background-color: rgba(var(--color-surface), 1);
    }
  }
  background-color: rgba(var(--color-surface), 1);
  border-radius: 0;
  animation: itemActive .25s;
  .itemText, .itemIcon {
    color: rgba(var(--color-heading), 1);
  }
  &::before {
    left: 0;
  }
}