<template>
  <div :class="$style.sidebar">
    <div
      :class="[
        $style.header,
        isExpanded && $style.headerExpanded
      ]"
    >
      <Logo :with-text="isExpanded" />
    </div>
    <component
      :is="item.url ? 'router-link' : 'div' /* @TODO Switch to dropdown */"
      v-for="item in items"
      :key="item.key"
      :to="item.url"
      :class="item.url ? [
        $style.linkItem,
        isExpanded && $style.linkItemExpanded,
      ] : null"
      :exact-active-class="$style.linkItemActive"
    >
      <Icon
        :icon="item.icon"
        :class="$style.itemIcon"
      />
      <transition
        name="sidebar-link-text"
        mode="out-in"
      >
        <div
          v-if="isExpanded"
          :class="$style.itemText"
        >
          {{ item.label }}
        </div>
      </transition>
    </component>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';
import { useStore } from 'vuex';
import Logo from '@/components/logo/Logo.vue';
import Icon from '@/components/icon/Icon.vue';

type SidebarItem = {
  key: string;
  icon: string;
  label: string;
  url?: string | Record<string, any>;
}

export default defineComponent({
  name: 'Sidebar',
  components: {
    Logo,
    Icon,
  },
  setup() {
    const { t } = useI18n();
    const store = useStore();

    const isExpanded = computed(() => store.getters['layout/isSidebarExpanded']);
    const items: Array<SidebarItem> = [
      {
        key: 'dashboard',
        icon: 'basic/grid',
        label: t('sidebar.dashboard'),
        url: {
          name: 'index',
        },
      },
      {
        key: 'eCommerce',
        icon: 'basic/cart',
        label: t('sidebar.eCommerce'),
        url: {
          name: 'e-commerce',
        },
      },
      {
        key: 'calendar',
        icon: 'basic/calendar',
        label: t('sidebar.calendar'),
        url: {
          name: 'calendar',
        },
      },
      {
        key: 'mail',
        icon: 'basic/mail',
        label: t('sidebar.mail'),
        url: {
          name: 'mail',
        },
      },
      {
        key: 'chat',
        icon: 'basic/chat',
        label: t('sidebar.chat'),
        url: {
          name: 'chat',
        },
      },
      {
        key: 'tasks',
        icon: 'basic/tasks',
        label: t('sidebar.tasks'),
        url: {
          name: 'tasks',
        },
      },
      {
        key: 'projects',
        icon: 'basic/project',
        label: t('sidebar.projects'),
        url: {
          name: 'projects',
        },
      },
      {
        key: 'fileManager',
        icon: 'basic/folder',
        label: t('sidebar.fileManager'),
        url: {
          name: 'file-manager',
        },
      },
      {
        key: 'notes',
        icon: 'basic/text',
        label: t('sidebar.notes'),
        url: {
          name: 'notes',
        },
      },
      {
        key: 'contacts',
        icon: 'basic/contacts',
        label: t('sidebar.contacts'),
        url: {
          name: 'contacts',
        },
      },
    ];

    return {
      items,

      isExpanded,
    };
  },
});
</script>

<style lang="scss" module>
@import "./sidebar";
</style>

<style lang="scss">
  .sidebar-link-text {
    &-enter-active {
      transition: opacity .25s, transform .4s;
    }

    &-enter-from {
      opacity: 0;
    }
  }
</style>
