<template>
  <div :class="$style.authLayout">
    <Illustration
      :is-illustration-expanded="isIllustrationExpanded"
      :is-illustration-visible="isIllustrationVisible"
    />
    <div
      :class="{
        [$style.card]: true,
        [$style.cardActive]: isIllustrationExpanded,
      }"
    >
      <router-view v-slot="{ Component }">
        <transition
          name="authTransition"
          mode="out-in"
        >
          <component :is="Component" />
        </transition>
      </router-view>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import Illustration from '@/components/authLayout/Illustration.vue';

export default defineComponent({
  name: 'AuthLayout',
  components: {
    Illustration,
  },
  setup() {
    const isIllustrationExpanded = ref<boolean>(false);
    const isIllustrationVisible = ref<boolean>(false);

    setTimeout(() => {
      isIllustrationExpanded.value = true;
      setTimeout(() => {
        isIllustrationVisible.value = true;
      }, 500);
    }, 500);

    return {
      isIllustrationExpanded,
      isIllustrationVisible,
    };
  },
});
</script>

<style lang="scss" module>
@import "./authLayout";
</style>

<style lang="scss">
.authTransition {
  &-enter-active,
  &-leave-active {
    transition: opacity .25s, transform .4s;
  }

  &-enter-from, &-leave-to {
    opacity: 0;
  }
  &-enter-from {
    transform: translateX(120px);
  }
  &-leave-to {
    transform: translateX(-120px);
  }
}
</style>
