@import "~@/assets/utils.scss";

.authLayout {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: rem(70px);
}

.card {
  min-height: rem(690px);
  background-color: rgba(var(--color-surface), 1);
  border-radius: rem(20px);
  width: 100%;
  max-width: rem(600px);
  transition: .3s margin-left;
  overflow: hidden;
}

.cardActive {
  margin-left: rem(94px);
}

$illustrationWidth: rem(580px);

.illustration {
  @keyframes illustration {
    from { width: 0 }
    to { width: $illustrationWidth }
  }
  animation: illustration .5s;
  width: $illustrationWidth;
}

.illustrationVector {
  @keyframes illustrationVector {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  animation: illustrationVector .5s;
}