<template>
  <div
    v-if="isIllustrationExpanded"
    :class="$style.illustration"
  >
    <img
      v-if="isIllustrationVisible"
      :class="$style.illustrationVector"
      :src="require('@/components/authLayout/assets/auth-illustration.svg')"
      alt="Auth illustration"
    >
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  name: 'Illustration',
  props: {
    isIllustrationExpanded: Boolean as PropType<boolean>,
    isIllustrationVisible: Boolean as PropType<boolean>,
  },
});
</script>

<style lang="scss" module>
@import "./authLayout";
</style>
