@function rem($size, $em: false, $baseFontSize: 16px) {
  @if (type-of($size) == 'number') {
    $size: $size + 0px;
  }
  @if ($size == 1px or $size == -1px) {
    @return $size;
  }

  $remSize: $size / $baseFontSize ;

  @if ($em) {
    @return $remSize + 0em;
  } @else {
    @return $remSize + 0rem;
  }
}
