@import "./variables";
@import "./mixins";
@import "./layout";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@function extractRgb($color) {
  @return "#{red($color), green($color), blue($color)}";
}

:root {
  font: 400 $baseFontSize 'Poppins', sans-serif;
  font-weight: normal;
  height: 100vh;
  overflow: hidden;

  --color-white: #{extractRgb($white)};
  --color-black: #{extractRgb($black)};
  --color-accent: #{extractRgb($color-accent)};
  --color-accent-2: #{extractRgb($color-accent-2)};
  --color-orange: #{extractRgb($color-orange)};
  --color-red: #{extractRgb($color-red)};
  --color-green-1: #{extractRgb($color-green-1)};
  --color-green-2: #{extractRgb($color-green-2)};
  --yellow: #{extractRgb($color-yellow)};
  --blue: #{extractRgb($color-blue)};
  --color-purple: #{extractRgb($color-purple)};
  --color-pink: #{extractRgb($color-pink)};
  --color-heading: #{extractRgb($color-heading)};
  --color-surface: #{extractRgb($color-surface)};
  --color-overlay: #{extractRgb($color-overlay)};
  --color-border: #{extractRgb($color-border)};
  --color-background: #{extractRgb($color-background)};
  --color-body-dark: #{extractRgb($color-body-dark)};
  --color-body-light: #{extractRgb($color-body-light)};
  --vh: 1vh;
}

body {
  background-color: rgba(var(--color-background), 1);
}