@import "functions.scss";

@mixin heading-1 {
    font-weight: 500;
    font-size: rem(56px);
    line-height: rem(84px);
}

@mixin heading-2 {
    font-weight: 500;
    font-size: rem(48px);
    line-height: rem(72px);
}

@mixin heading-3 {
    font-weight: 500;
    font-size: rem(36px);
    line-height: rem(54px);
}

@mixin heading-4 {
    font-weight: 500;
    font-size: rem(28px);
    line-height: rem(42px);
}

@mixin heading-5 {
    font-weight: 500;
    font-size: rem(20px);
    line-height: rem(30px);
}

@mixin heading-6 {
    font-weight: 500;
    font-size: rem(18px);
    line-height: rem(27px);
}

@mixin body-1 {
    font-weight: 500;
    font-size: rem(15px);
    line-height: rem(22px);
}

@mixin body-2 {
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(21px);
}

@mixin body-3 {
    font-weight: 500;
    font-size: rem(12px);
    line-height: rem(18px);
}

@mixin link-1 {
    font-weight: 500;
    font-size: rem(15px);
    line-height: rem(22px);
    text-decoration: underline;
}

@mixin link-2 {
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(21px);
    text-decoration: underline;
}
