@import "functions";

$baseFontSize: 16px;
$white: #FFFFFF;
$black: #000000;
$color-accent: #0090FF;
$color-accent-2: #0073cc;
$color-orange: #FF955C;
$color-red: #FD7972;
$color-green-1: #58D786;
$color-green-2: #AEE553;
$color-yellow: #FFDB6E;
$color-blue: #81E3F0;
$color-purple: #B656EB;
$color-pink: #FD8BE4;
$color-heading: #FCFCFC;
$color-surface: #23262B;
$color-overlay: #30323B;
$color-border: #33363D;
$color-background: #1D1E24;
$color-body-dark: #93959C;
$color-body-light: #B5B7BF;