<template>
  <div :class="$style.signUp">
    <div :class="$style.heading">
      {{ t('auth.signUp.heading') }}
    </div>
    <Button
      :state="['bordered']"
      prepend-icon="google"
      :class="$style.googleButton"
    >
      {{ t('auth.signUp.google') }}
    </Button>
    <div :class="$style.divider">
      <div :class="$style.dividerText">
        {{ t('auth.signUp.dividerText') }}
      </div>
    </div>
    <TextInput
      v-model="model.fullName"
      :class="$style.emailInput"
      :state="['bordered']"
      :label="t('auth.signUp.fullName')"
      placeholder="Regina Cooper"
    />
    <TextInput
      v-model="model.email"
      :class="$style.emailInput"
      :state="['bordered']"
      :label="t('auth.email')"
      placeholder="cooper@example.com"
    />
    <TextInput
      v-model="model.password"
      :class="$style.passwordInput"
      :state="['bordered']"
      :label="t('auth.password')"
      type="password"
    />
    <TextInput
      v-model="model.confirmPasswordInput"
      :class="$style.passwordInput"
      :state="['bordered']"
      :label="t('auth.signUp.confirmPasswordInput')"
      type="password"
    />
    <Checkbox
      v-model="model.terms"
      :class="$style.termsLink"
    >
      <i18n-t
        :class="$style.signIn"
        keypath="auth.signUp.termsLink"
      >
        <template #termsAndConditions>
          <router-link
            :class="$style.signUpLink"
            to="#"
            @click.stop
          >
            {{ t('auth.signUp.termsAndConditions') }}
          </router-link>
        </template>
      </i18n-t>
    </Checkbox>
    <Button
      :state="['accent']"
      :class="$style.submit"
    >
      {{ t('auth.signUp.submit') }}
    </Button>
    <i18n-t
      tag="div"
      :class="$style.signIn"
      keypath="auth.signUp.signUpLink"
    >
      <template #signUp>
        <router-link
          :class="$style.signUpLink"
          :to="{ name: 'sign-in' }"
          @click.stop
        >
          {{ t('auth.signUp.signIn') }}
        </router-link>
      </template>
    </i18n-t>
  </div>
</template>

<script lang="ts">
import { useI18n } from 'vue-i18n';
import { defineComponent, ref } from 'vue';
import Button from '@/components/button/Button.vue';
import TextInput from '@/components/textInput/TextInput.vue';
import Checkbox from '@/components/checkbox/Checkbox.vue';
import { SignUpModel } from '@/hooks/useAuth';

export default defineComponent({
  name: 'SignUp',
  components: {
    Button,
    TextInput,
    Checkbox,
  },
  setup() {
    const { t } = useI18n();

    const model = ref<SignUpModel>({
      fullName: '',
      email: '',
      password: '',
      confirmPasswordInput: '',
      terms: false,
    });

    return {
      t,
      model,
    };
  },
});
</script>

<style lang="scss" module>
@import "./signUp";
</style>
