<template>
  <div :class="$style.app">
    <IconsMap />
    <router-view />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onBeforeUnmount,
  onMounted,
} from 'vue';
import IconsMap from '@/components/icon/IconsMap.vue';
import { useStore } from 'vuex';

export default defineComponent({
  components: {
    IconsMap,
  },
  setup() {
    const handleBaseUnit = () => {
      document.documentElement.style.setProperty('--vh', `${window.innerHeight / 100}px`);
    };

    onMounted(() => {
      handleBaseUnit();
      window.addEventListener('resize', handleBaseUnit);
      window.addEventListener('orientationchange', handleBaseUnit);
    });

    onBeforeUnmount(() => {
      window.removeEventListener('resize', handleBaseUnit);
      window.removeEventListener('orientationchange', handleBaseUnit);
    });

    // development seeds
    const setAuth = () => {
      const store = useStore();
      store.dispatch('user/signIn', {
        email: 'ronald.robertson.ass@gmail.com',
        password: 'Qwerty123',
        remember: 'Qwerty123',
      });
    };
    setAuth();
  },
});
</script>

<style lang="scss" module>
:global {
  @import "assets/drop";
  @import "assets/root";
}

.app {
  height: calc(100 * var(--vh));
  display: flex;
  flex-direction: column;
}
</style>
