<template>
  <div :class="$style.forgotPassword">
    <div :class="$style.image">
      <img
        :src="require('@/pages/password/assets/lock.svg')"
        alt="lock"
      >
    </div>
    <div :class="$style.heading">
      {{ t('auth.forgot.heading') }}
    </div>
    <TextInput
      v-model="model.email"
      :class="$style.emailInput"
      :state="['bordered']"
      :label="t('auth.email')"
      placeholder="cooper@example.com"
    />
    <Button
      :state="['accent']"
      :class="$style.submit"
    >
      {{ t('auth.forgot.submit') }}
    </Button>
    <i18n-t
      tag="div"
      :class="$style.signIn"
      keypath="auth.forgot.signInLink"
    >
      <template #signIn>
        <router-link
          :class="$style.signInLink"
          :to="{ name: 'sign-in' }"
        >
          {{ t('auth.forgot.signIn') }}
        </router-link>
      </template>
    </i18n-t>
  </div>
</template>

<script lang="ts">
import Button from '@/components/button/Button.vue';
import TextInput from '@/components/textInput/TextInput.vue';
import { useI18n } from 'vue-i18n';
import { defineComponent, ref } from 'vue';
import { ForgotPasswordModel } from '@/hooks/useAuth';

export default defineComponent({
  name: 'ForgotPassword',
  components: {
    Button,
    TextInput,
  },
  setup() {
    const { t } = useI18n();

    const model = ref<ForgotPasswordModel>({
      email: '',
    });

    return {
      t,
      model,
    };
  },
});
</script>

<style lang="scss" module>
@import "forgot";
</style>
